<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

<table>
    <tr>
        <th>Event</th>
        <th>Description</th>
    </tr>

    @foreach (Event evnt in ViewBag.events)
    {
        <tr>
            <td>@evnt.Name</td>
            <td>@evnt.Description</td>
            <td>
                <a type="submit" class="btn btn-outline-primary btn-sm" asp-controller="Events" asp-action="Edit" asp-route-id="@evnt.Id">Edit</a>
            </td>
            <td>
                <form method="post" asp-action="Delete">
                    <input hidden name="eventIds" value=@evnt.Id />
                    <input type="submit" class="btn btn-danger btn-sm" value="Delete" />
                </form>
            </td>
        </tr>
    }

</table>

@*

    href="/Events/Edit/@evnt.Id"
    
*@