<h1>Coding Events</h1>

<p>
   <a asp-controller="Events" asp-action="Add">Add Event</a>    
</p>

@*<ul>
    @foreach (var meeting in ViewBag.events)
    {
        <li>@meeting.Key</li>
    }
</ul>*@

<table>
    <tr>
        <th>Event</th>
        <th>Description</th>
    </tr>

    @foreach (var entry in ViewBag.events)
    {
        <tr>
            <td>@entry.Key</td>
            <td>@entry.Value</td>
        </tr>
    }

    </table>